body, html {
    height: 100vh;
    width: 100vh; 
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 15% 20% auto 30%;
    grid-template-areas:
    "header header"
    "aside article"
    "sect1 main"
    "sect2 main";
    justify-content: center;

}
header {
    grid-area: header;
    background: linear-gradient(to right, black,grey, black);
    border-radius: 15px;
    margin: 1%;
    font-size: 50px;
    text-align: center;
    color: white;
}
h2 {
    font-size: 20px;
    text-align: center;
    color: white;
}
aside{
    grid-area: aside;
    background: black;
    border: 2px solid black;
    border-radius: 15px;
    margin: 1%;
}
section:nth-last-of-type(1) {
    grid-area: sect1;
    background: rgb(175, 170, 170);
    border-radius: 15px;
    margin: 1%;
    border: 2px solid black;
}
section:nth-last-of-type(2) {
    grid-area: sect2;
    background: grey;
    border-radius: 15px;
    margin: 1%;
    border: 2px solid black;

}
article {
    grid-area: article;
    background: grey;
    border: 2px solid black;
    border-radius: 15px;
    margin: 1%;
    text-align: center;
    font-size: 25px;
    word-spacing: 5px;
}
main {
    grid-area: main;
    background: rgb(211, 208, 208);
    border-radius: 15px;
    margin: 1%;
    font-size: 15px;
    color:rgb(60, 60, 60);
    border: 2px solid black;
}
#img {
    width: 97%;
    height: 96%;
    border-radius: 15px;
    margin: auto;
    grid-column: auto;
    border: 3px solid white;
  }
  .art {
      color: white;
  }
  .main {
      color: black;
      font-size: 20px;
  }
#skill {
    color: white;
}
h1 {
    color: black;
    font-size: 15px;
}
#about-me {
    font-size: 20px;
    color: white;
}
.jt {
    color: black;
    font-size: 20px;
}
.container {
    width: 100%;
    background: black;
}
.skill {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}
.html {
    width: 99%;
    background:white;
}
.css {
    width: 97%;
    background: white;
}
.js {
    width: 65%;
    background: white;
}