/* Small and up (Landscape Phones) */
@media (max-width: 812px) {
  body,
  html {
    height: 150vh;
  }
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 10% auto 10%;
    grid-template-areas:
      "aside"
      "header"
      "main"
      "footer";
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(34, 32, 32);
  }
  aside {
    grid-area: aside;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo {
    width: 150px;
    height: 150px;
    transition: 2s;
  }
  #logo:hover {
    transform: scale(1.25);
  }
  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: "Oswald", sans-serif;
  }
  .has-border {
    padding: 10px 20px;
    font-size: 10px;
    color: #14b4ce;
    border-bottom: 2px solid #293378;
    margin: 0 5px;
    transition: 1s;
  }
  .has-border:hover {
    border-radius: 40px;
    color: #293378;
    background: #14b4ce;
  }
  main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    color: #293378;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
  }
  #profile-pic {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 50%;
  }
  #myName {
    color: #14b4ce;
    font-size: 70px;
  }
  footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Oswald", sans-serif;
  }
  #portfolio {
    padding: 20px 100px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, #293378, #14b4ce);
    font-size: 15px;
    transition: 1s;
  }
  #portfolio:hover {
    transform: scale(1.25);
  }
  #port {
    font-size: 20px;
    color: white;
    font-family: "Oswald", sans-serif;
  }
}
