body,
html {
  height: 100vh;
}
body {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 10% 10% auto 10%;
  grid-template-areas:
    "aside header"
    "aside ."
    "main main"
    "footer footer";
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(34, 32, 32);
}
aside {
  grid-area: aside;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  width: 150px;
  height: 150px;
  transition: 2s;
}
#logo:hover {
  transform: scale(1.25);
}
header {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.has-border {
  padding: 20px 40px;
  font-size: 20px;
  color: #14b4ce;
  border-radius: 30px;
  margin: 0 15px;
  transition: 1s;
}
.has-border:hover {
  transform: scale(1.25);
  color: #293378;
  background: #14b4ce;
}
main {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  color: #293378;
  font-size: 30px;
}
#profile-pic {
  width: 400px;
  height: 400px;
  border: 2px solid white;
  border-radius: 50%;
}
#myName {
  color: #14b4ce;
  font-size: 100px;
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#portfolio {
  padding: 20px 100px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, #293378, #14b4ce);
  font-size: 20px;
}

/* nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 20%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid white;

  }
  .has-border {
    border-radius: 25px;
    border: 3px solid black;
    background: transparent;
    padding: 20px; 
    margin: 2%;
    color: white;
    transition: 500ms ease-in-out;
  }
  
  nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 3% auto;
    grid-column: 2/3;
    border: 6px solid black;
    transition: 3s ease-in;
  }
  #profile-pic:hover {
    transform: rotate(180deg);
  }
  
  h1 {
    color:white;
    grid-column: 2/3;
    margin: 1% auto;
    border-bottom: 2px solid black;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 1% auto;
    font-style: italic;
  }
  
  button {
    grid-column: 2/3;
    margin: 1% auto;
    width: fit-content;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: black;
    letter-spacing: 16px;
    font-style: italic;
    border: 4px solid black;
    

  }
  #res:hover {
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 8px 8px 4px rgb(24, 24, 24);
    transform: scale(1.25);
  }
  #about:hover {
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 8px 8px 4px rgb(24, 24, 24);
  }
  #mb:hover {
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 8px 8px 4px rgb(24, 24, 24);
  }
  #cm:hover {
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 8px 8px 4px rgb(24, 24, 24);
  }
  h2 {
    animation-name: fadeInOut;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    }
    
    @keyframes fadeInOut {
    from {
    opacity: 1;
    }
    
    to {
    opacity: 0;
    }
  }
  h1 {
    animation-name: fadeInOut;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    }
      
    @keyframes fadeInOut {
      0% {color: white;}
      50% {color: black;}
      100% {color: white;}
    }
  } */
