body,
html {
  height: 100vh;
  width: 100vh;
}
body {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 10% 5% auto auto auto;
  grid-template-areas:
    "header header header"
    "article article article"
    "div1 div2 div3"
    "div4 div5 div6"
    "div7 div8 div9";
}
header {
  grid-area: header;
  background: grey;
  border: 2px solid black;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
article {
  grid-area: article;
  background: grey;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  margin: 2px 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px 10px;
}
div {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#div1 {
  grid-area: div1;
  background: lightgray;
  border: 3px solid black;
  margin-top: 3%;
}
#div2 {
  grid-area: div2;
  background: lightgray;
  border: 3px solid black;
  margin-top: 3%;
}
#div3 {
  grid-area: div3;
  background: lightgray;
  border: 3px solid black;
  margin-top: 3%;
}
#div4 {
  grid-area: div4;
  background: lightgray;
  border: 3px solid black;
}
#div5 {
  grid-area: div5;
  background: lightgray;
  border: 3px solid black;
}
#div6 {
  grid-area: div6;
  background: lightgray;
  border: 3px solid black;
}
#div7 {
  grid-area: div7;
  background: lightgray;
  border: 3px solid black;
}
#div8 {
  grid-area: div8;
  background: lightgray;
  border: 3px solid black;
}
#div9 {
  grid-area: div9;
  background: lightgray;
  border: 3px solid black;
}
